{%extends 'base.html'%}{%load static%}
{%block content%}
<div class="welcome">
<section class="welcome-container">
  <h1 class="title">
    <span>Hola {{request.user.first_name.upper}}</span>
    <span>que lindo</span>
    <span>verte <em data-emoji=":heart_eyes:"></em></span>
  </h1>
  <h2 class="title">
    <span>Espero que hoy</span>
    <span>tengas un</span>
    <span>lindo día <em data-emoji=":coffee:"></em></span>
  </h2>
</section>
  
</div>
<div class="logo-container">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="300"
    height="300"
    viewBox="0 0 375 375"
    shape-rendering="geometricPrecision"
  >
    <circle id="circle-bg" cx="187.5" cy="197.535" r="160.035" fill="rgb(27,28,29)"/>

    <path id="line-1" fill="none" class="line-black" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.88" d="M 76.785 240.438 L 147.449 171.238"/>
    <path id="line-2" fill="none" class="line-black" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.88" d="M 147.449 171.238 L 215.328 235.539"/>
    <path id="line-3" fill="none" class="line-black" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.88" d="M 215.328 235.539 L 298.215 155.605"/>

    <circle id="point-1"       class="black"        cx="76.785"  cy="240.438" r="20.213"/>
    <circle id="centerpoint-1" class="center-white"  cx="76.785"  cy="240.438" r="11.001"/>
    <circle id="point-2"       class="black"        cx="147.449" cy="171.238" r="20.213"/>
    <circle id="centerpoint-2" class="center-white"  cx="147.449" cy="171.238" r="11.001"/>
    <circle id="point-3"       class="black"        cx="215.328" cy="235.539" r="20.213"/>
    <circle id="centerpoint-3" class="center-white"  cx="215.328" cy="235.539" r="11.001"/>
    <circle id="point-4"       class="black"        cx="298.215" cy="155.605" r="20.213"/>
    <circle id="centerpoint-4" class="center-white"  cx="298.215" cy="155.605" r="11.001"/>
  </svg>
</div>
<div class="logo-name">
  <h1 class="logotext"></h1>
    Easy data
  </h1>
</div>
</div>
  {%endblock%}
  {%block script%}
  <script src="{%static 'js/utils.js'%}"></script>
  <script>
    const welcomeKey = 'welcomeSeen_{{ request.user.username }}'
    if (localStorage.getItem(welcomeKey)) {
      window.location.replace('/humanresources/landing/')
    } else {
      $(document).ready(function() {
        setTimeout(function(){
        $('.logo-container').show()
        $('svg path, svg circle').addClass('visible')
        setTimeout(function(){
          $('.white').removeClass('white').addClass('black');
          $('.center-white').removeClass('center-white').addClass('center-black');
          $('.line-white').removeClass('line-white').addClass('line-black');
          $('.black').removeClass('black').addClass('white');
          $('.line-black').removeClass('line-black').addClass('line-white');
          setTimeout(function(){
            $('svg').addClass('finalposition')
            setTimeout(function(){
              $('.logo-container').addClass('final-position')
              setTimeout(function(){
                $('.logo-name').addClass('reveal')
                setTimeout(function(){
                  localStorage.setItem(welcomeKey, '1')
                  window.location.replace('/humanresources/landing/')
                }, 1500)
              },1500)
            },1500)
          },1000)
        },2000)
      },7000)
      });
    }
  </script>
  {%endblock%}
  {%block style%}
  <link rel="stylesheet" href="{%static 'css/landing.css'%}">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
    
    .logo-name{
      font-family: "Quicksand"!important;
      font-size: 5.5em!important;
      color: rgb(27 28 29);
      position: absolute;
      top:38.5%;
      left: 42%;
      opacity: 0;
    }
    .logo-name.reveal{
      animation: textanimation ease 1.5s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
    svg path.visible, svg circle.visible{
      opacity: 0;
      animation: logo ease 0.5s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
    .line-white{
      stroke: white
    }
    .white, .center-white {
      fill:white
    }
    .line-black{
      stroke: rgb(27 28 29)
    }
    .black, .center-black {
      fill: rgb(27 28 29)
    }
    svg.finalposition{
      animation: logoreduce cubic-bezier(0.32, 0.57, 0.59, 1.01) 1.5s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
  
    .logo-container{
      display: none;
      position: absolute;
      top: 20%;
      left:35%
    }
  
    .logo-container.final-position{
      animation: logofinalposition ease 1.5s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
  
    #circle-bg.visible{
      animation-delay: 2.05s;
    }
    #line-1.visible {
      animation-delay: 0.55s;
    }
    #point-2.visible {
      animation-delay: 0.55s;
    }
    #line-2.visible {
      animation-delay: 1.05s;
    }
    #point-3.visible {
      animation-delay: 1.05s;
    }
    #line-3.visible {
      animation-delay: 1.55s;
    }
    #point-4.visible {
      animation-delay: 1.55s;
    }
  
    @keyframes textanimation{
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @keyframes logofinalposition{
      0%{
        left:35%
      }
      100%{
        left:23%
      }
    }
    @keyframes logoreduce {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(0.5);
      }
    }
    @keyframes logo {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  </style>
  {%endblock%}